.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.ml-auto {
  margin-left: auto !important;
}

.btn.btn-danger {
  margin-left: 10px;
}

.task-form-container {
  margin-top: 40px;
  background-color: #e6f7ff;
  padding: 20px;
  border-radius: 5px;
}

